<section class="observationControlSection">
    <h2 class="section-title" style>{{::section | titleTranslate}}</h2>
    <div class="concept-set-container">
        <div ng-if="formsData.length==0">
            <p class="placeholder-text">
                {{error_message | translate}}
            </p>
        </div>
        <div ng-repeat="visitForm in formsData">
            <ul class="laborder-sub-heading active" ng-if="formsData.length>0">
                <p>{{diagnosis_date | bahmniDateTime}}</p>
                <span class="tree-list-item row-click" ng-click="toggleDisplayExpandedView(visitForm[0].datetime)">
                        <i class="fa fa-caret-down" ng-show="checkDisplayExpandedView(visitForm[0].datetime)"></i>
                        <i class="fa fa-caret-right" ng-show="!checkDisplayExpandedView(visitForm[0].datetime)"></i>
                        <span class="obs_date">{{ visitForm[0].datetime | bahmniDateTime }}</span>
                    </span>
                <table ng-attr-id="{{visitForm[0].datetime}}" ng-show="$first">
                    <tbody>
                    <tr ng-repeat-start="formData in visitForm" ng-if="formsData.value!=''">
                        <td class="form-field">{{formData.name}}</td>
                        <td class="form-field">{{formData.value}}</td>
                    </tr>
                    <tr border="0" ng-show="togglencd" ng-if="formData.comments != ''" class="notes inline-comments print-notes" ng-repeat-end>
                        <td>
                             <i class="fa fa-comments left"></i>
                            <pre class="left">{{formData.comments}}</pre>
                        </td>
                        <td class="provider">{{formData.username}} {{formData.datetime | date:'h:mm a'}}</td>
                    </tr>
                    </tbody>
                </table>
            </ul>
        </div>
    </div>
    <!--</div>-->
</section>