<section class="observationControlSection">
    <h2 ng-click="expandedViewDialog()"
        class="section-title has-link">
        <span class="title-link"> {{::section | titleTranslate}} </span>
        <i class="fa fa-external-link"></i>
    </h2>
    <div class="concept-set-container">
    <div ng-if="latestEncounterData.length==0">
        <p class="placeholder-text" ng-if="latestEncounterData.length==0">
            {{'NO_DATA_FOR_NCD_FOUND' | translate}}
        </p>
    </div>
    <ul class="laborder-sub-heading active" ng-if="latestEncounterData.length>0">
        <p>{{diagnosis_date | bahmniDateTime}}</p>
            <span class="tree-list-item row-click" ng-click="toggleShowNCD()">
                <i class="fa fa-caret-down" ng-show="togglencd"></i>
                <i class="fa fa-caret-right" ng-show="!togglencd"></i>
                <span class="obs_date">{{ latestEncounterData[0][0].obs_datetime | bahmniDateTime }}</span>
            </span>
    <table>
        <tbody>
            <tr ng-repeat-start="ncdField in latestEncounterData[0]" ng-if="ncdField.value!=''">
                <td class="" ng-show="togglencd" >{{ncdField.name}}</td>
                <td class="" ng-show="togglencd" >{{ncdField.value}}</td>
            </tr>
            <tr border="0" ng-show="togglencd" ng-if="ncdField.comments != ''" class="notes inline-comments print-notes" ng-repeat-end>
                <td>
                    <i hint="comments" class="fa fa-comments left"></i>
                    <pre class="left">{{ncdField.comments}}</pre>
                  </td>
                <td class="provider">{{ncdField.username}} {{ncdField.obs_datetime | date:'h:mm a'}}</td>
            </tr>
            </tbody>
        </table>
    </ul>
</div>
</section> 